body {
	padding: 0;
}

* {
	box-sizing: border-box;
}

.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	background: radial-gradient(circle, #3B1849, #222);
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.player {
	width:400px;
	background: rgba(255,255,255,.3);
	border-radius: 25px;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	padding:0px;
	box-shadow:
		0 0 50px rgba(0,0,0,.4),
		0 15px 15px rgba(0,0,0,.2);
}

.top-section,
.middle-section,
.bottom-section {
	width: 100%;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.player i {
	margin: 10px;
}

.top-section {
	align-items: center;
	height: 40px;
}

.middle-section {
	height: 280px;
	background: black;
}

.bottom-section {
	height: 50px;
}

.fa-play {
	height: 40px;
	width: 40px;
	padding-left: 5px;
	border: 1px solid black;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	font-size: 150%;
	box-shadow: 0 0 1px rgba(0,0,0,.5);
}

.fa-step-backward, .fa-step-forward {
	height: 30px;
	width: 30px;
	border: 1px solid black;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	box-shadow: 0 0 1px rgba(0,0,0,.5);
}

.buttons {
	display: flex;
	align-items: center;
}

.playlist {
	height: 370px;
	width:400px;
	background: rgba(255,255,255,.7);
	border-radius: 25px;
	position: absolute;
	display: none;
	padding:0px;
	box-shadow:
		0 0 50px rgba(0,0,0,.4),
		0 15px 15px rgba(0,0,0,.2);
	top: -5px;
	left: -5px;
}

.fa-list {
	position: relative;
}

.fa-list:hover .playlist {
	display: flex;
	cursor: pointer;
}

.playlist ol {
	font-family: 'PT Sans';
	line-height: 20px;
	width: 100%;
	і
}

.playlist a {
	text-decoration: none;
	color: black;
}

li {
	border-bottom: 1.5px solid rgba(0,0,0,.3);
}
